<div class="container mt-5">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha de finalización</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inscripcion of inscripcionesService.inscripciones">
                    <th scope="row">{{inscripcion.clienteObtenido.nombre}} {{inscripcion.clienteObtenido.apellido}}</th>
                    <td>{{inscripcion.fecha | date}}</td>
                    <td>{{inscripcion.fechaFinal | date}}</td>
                    <td>
                        <img [src]="inscripcion.clienteObtenido.imageUrl" class="image img-fluid" alt="inscripcion.clienteObtenido.nombre">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>